<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543150865122-2e6bs2d5oocftbbd7a6h6reqlf78vdgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543150865122-2e6bs2d5oocftbbd7a6h6reqlf78vdgl</string>
	<key>API_KEY</key>
	<string>AIzaSyBsGWSuN55uGIxYR34cpVBfzGx-rEvn9eo</string>
	<key>GCM_SENDER_ID</key>
	<string>543150865122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apekshik.SwiftUI-FireBaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-swift1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swift1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543150865122:ios:7cb4ecfe34f2beb781bcbb</string>
</dict>
</plist>